/* Poppins Fonts added */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
/* ==========================
Common Css Part
============================ */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
ul , li{
  list-style: none;

}
a{
  text-decoration: none;
}